@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Teko&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
    color: #f6f6f6;
    background-color: black;
}
.container{
    padding: 9% 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
hr{
    color: #f6f6f6;
    background-color: #f6f6f6;
}
.container__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.container__content__titles{
    font-size: 36px;
    font-family: 'Black Ops One', cursive;
}
.container__content__paragraph{
    font-family: 'Teko', sans-serif;
    font-size: 28px;
}
.textogrifado{
    color: #22d4fd;
}
.habilities{
    color: #14FEA8;
    font-size: 30px;
}
.container__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}
.container__buttons__title{
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
}
.container__buttons__links{
    display: flex;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    background-color: black;
    border: #22d4fd solid 1.5px;
    width: 450px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 0;
    border-radius: 15px;
    text-decoration: none;
    text-decoration: bold;
    color: white;
}
.container__buttons__links:hover{
    background-color: #1e2729;
    color: rgb(173, 173, 173);
}
.container__buttons__links__logos{
    width: 40px;
    height: 40px;
}
.photo{
    border-radius: 30px;
}

.rodape{
    display: flex;
    text-align: center;
    background-color: #22d4fd;
    color: #1e2729;
    justify-content: center;
    gap: 5px;
}
.rodape__text{
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    padding: 8px 0;
}
.rodape__logo{
    justify-content: flex-end;
}