@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Teko&display=swap');

*{       /* Reset.css */
    margin: 0px;
    padding: 0px;
}

:root{
    --color-primaria: #000000;
    --color-secundaria: #f6f6f6;
    --color-terciária: #22d4fd;
    --color-habilidades: #14FEA8;
    --color-hover: #1e2729;
    --color-hovertext: rgb(173, 173, 173);

    --font-principal: 'Teko', sans-serif;
    --font-secundaria: 'Black Ops One', cursive;
}

body{
    box-sizing: border-box;
    color: var(--color-secundaria);
    background-color: var(--color-primaria);
}
.cabecalho{
    padding: 3% 22% 0 22%;
}
.cabecalho__navegador{
    display: flex;
    gap: 80px;
}
.cabecalho__navegador__link{
    color: var(--color-terciária);
    font-family: var(--font-principal);
    font-size: 1.75rem;
    padding: 10px 20px;
    text-decoration: none;
}

.container{
    padding: 7% 22% 8% 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
}
hr{
    color: var(--color-secundaria);
    background-color: var(--color-secundaria);
}
.container__content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 9%;
}
.container__content__titles{
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
}
.container__content__paragraph{
    font-family: var(--font-principal);
    font-size: 1.75rem;
}
.textogrifado{
    color: var(--color-terciária);
}
.habilities{
    color: var(--color-habilidades);
    font-size: 1.88rem;
}
.container__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}
.container__buttons__title{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}
.container__buttons__links{
    display: flex;
    font-family: var(--font-principal);
    font-size: 1.88rem;
    background-color: var(--color-primaria);
    border: var(--color-terciária) solid 1.5px;
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 0;
    border-radius: 15px;
    text-decoration: none;
    text-decoration: bold;
    color: var(--color-secundaria);
}
.container__buttons__links:hover{
    background-color: var(--color-hover);
    color: var(--color-hovertext);
}
.container__buttons__links__logos{
    width: 40px;
    height: 40px;
}
.container__photo{
    width: 50%;
    border-radius: 30px;
}


.rodape{
    display: flex;
    text-align: center;
    background-color: var(--color-terciária);
    color: var(--color-primaria);
    justify-content: center;
    gap: 5px;
}
.rodape__text{
    font-family: var(--font-principal);
    font-size: 1.5rem;
    padding: 8px 0;
}
.rodape__logo{
    justify-content: flex-end;
}


@media (max-width: 1162px){
    .cabecalho{
        padding: 5% 10% 0 10%;
    }
    .cabecalho__navegador{
        justify-content: center;
        gap: 11%;
    }
    .cabecalho__navegador__link{
        padding: 10px 0;
    }
    .container{
        flex-direction: column-reverse;
        gap: 20px;
        padding: 7% 7% 8% 7%;
    }
    .container__content{
        justify-content: center;
        width: auto;
        gap: 10px;
    }
    .container__content__titles{
        text-align: center;
        font-size: 2rem;
    }
    .container__content__paragraph{
        font-size: 1.5rem;
        text-align: center;
    }
    .container__buttons__title{
        font-size: 1.25rem;
        text-align: center;
    }
    .container__photo{
        justify-content: center;
        width: 70%;
    }
}

@media (max-width: 336px){
    .cabecalho__navegador__link{
        font-size: 1.5rem;
    }
}