@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Teko&display=swap');

*{       /* Reset.css */
    margin: 0px;
    padding: 0px;
}

:root{
    --color-primaria: #000000;
    --color-secundaria: #f6f6f6;
    --color-terciária: #22d4fd;
    --color-habilidades: #14FEA8;
    --color-hover: #1e2729;
    --color-hovertext: rgb(173, 173, 173);

    --font-principal: 'Teko', sans-serif;
    --font-secundaria: 'Black Ops One', cursive;
}

body{
    box-sizing: border-box;
    color: var(--color-secundaria);
    background-color: var(--color-primaria);
}
.cabecalho{
    padding: 3% 20% 0 20%;
}
.cabecalho__navegador{
    display: flex;
    gap: 80px;
}
.cabecalho__navegador__link{
    color: var(--color-terciária);
    font-family: var(--font-principal);
    font-size: 28px;
    padding: 10px 15px;
    text-decoration: none;
}

.container{
    padding: 7% 20% 8% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
hr{
    color: var(--color-secundaria);
    background-color: var(--color-secundaria);
}
.container__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 9%;
}
.container__content__titles{
    font-size: 36px;
    font-family: var(--font-secundaria);
}
.container__content__paragraph{
    font-family: var(--font-principal);
    font-size: 28px;
}
.textogrifado{
    color: var(--color-terciária);
}
.habilities{
    color: var(--color-habilidades);
    font-size: 30px;
}
.container__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-direction: column;
}
.container__buttons__title{
    font-size: 24px;
    font-family: var(--font-secundaria);
}
.container__buttons__links{
    display: flex;
    font-family: var(--font-principal);
    font-size: 30px;
    background-color: var(--color-primaria);
    border: var(--color-terciária) solid 1.5px;
    width: 450px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 0;
    border-radius: 15px;
    text-decoration: none;
    text-decoration: bold;
    color: var(--color-secundaria);
}
.container__buttons__links:hover{
    background-color: var(--color-hover);
    color: var(--color-hovertext);
}
.container__buttons__links__logos{
    width: 40px;
    height: 40px;
}
.photo{
    border-radius: 30px;
}


.rodape{
    display: flex;
    text-align: center;
    background-color: var(--color-terciária);
    color: var(--color-primaria);
    justify-content: center;
    gap: 5px;
}
.rodape__text{
    font-family: var(--font-principal);
    font-size: 24px;
    padding: 8px 0;
}
.rodape__logo{
    justify-content: flex-end;
}